:root {
  --theme-3-1-FF: #6b5b95FF;
  --theme-3-1-70: #6b5b95B3;
  --theme-3-2-FF: #feb236FF;
  --theme-3-2-70: #feb236B3;
  --theme-3-3-FF: #d64161FF;
  --theme-3-3-70: #d64161B3;
  --theme-3-4-FF: #ff7b25FF;
  --theme-3-4-70: #ff7b25B3;

  --theme-4-1-FF: #d5def5FF; 
  --theme-4-1-70: #d5def5B3; 
  --theme-4-2-FF: #8594e4FF; 
  --theme-4-2-70: #8594e4B3; 
  --theme-4-3-FF: #6643b5FF; 
  --theme-4-3-70: #6643b5B3; 
  --theme-4-4-FF: #430f58FF; 
  --theme-4-4-70: #430f58B3; 

  --col-fg-1-70: var(--theme-3-1-70);
  --col-fg-1-FF: var(--theme-3-1-FF);
  
  --col-fg-2-70: var(--theme-3-3-70);
  --col-fg-2-FF: var(--theme-3-3-FF);
  
  --col-bg-1-70: var(--theme-3-4-70);
  --col-bg-1-FF: var(--theme-3-4-FF);
  
  --col-bg-2-70: var(--theme-3-2-70);
  --col-bg-2-FF: var(--theme-3-2-FF);

  /* variables */

  --var-animwobble-translate: 1.2px;
}

html {
  background-color: var(--col-bg-2-FF);
}

a {
  text-decoration: none;
}

* {
  scale: 100%;
  padding: 2pt;
  margin: 2pt;
}

div.container {
  display: flex;
  flex-wrap: wrap;
}

.heading {
  font-weight: 700;
  font-size: larger;
  font-family: FreeMono, monospace;
  /* font-size: 4vw; */
}

h1.heading {
  font-size: xx-large;
}
 
h2.heading {
  font-size: x-large;
}
 
.nav-btn {
  padding-left: 8px;
  padding-right: 8px;
  color: whitesmoke;
  background-color: var(--col-fg-2-FF);
}

#nav-bar {
  align-items: flex-start;
  background-color: var(--col-bg-1-FF);
  width: calc(100% - 10px);
}

#posts {
  align-items: flex-start;
  background-color: var(--col-bg-2-FF);
  perspective: 100px;
}

.lift {
  z-index: 40;
  box-shadow: 0px 0px 15px 0px var(--col-fg-1-70);
  border: 0pt solid var(--col-fg-1-FF);
  background-color: var(--col-fg-1-FF);
}

.lift:hover {
  box-shadow: 0px 0px 25px 5px var(--col-fg-2-FF);
  border: 0pt solid var(--col-fg-2-FF);
  background-color: var(--col-fg-2-FF);
  scale: 104%;
  z-index: 70;
}

/* .lift:hover .heading {
  font-size: 4vw;
} */

.wobble {
  transition: background-color 0.66s ease-out
            , box-shadow 1s ease
            , scale 0.33s ease-out
            , translate 0s ease-in-out
            , rotate 0.66s ease-in-out
            ;
  animation-name: AniWobble;
  animation-duration: 2s;
  animation-iteration-count: 0;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-direction: alternate-reverse;
  transform-style: preserve-3d;
}

.wobble:hover {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

div.post {
  max-width: 6cm;
  min-width: 6cm;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 4cm;
  padding: 0px;
}

div.post a.post-link {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  padding: 0px;
  margin: 5px;
}

div.post a.post-link div {
  padding: 0px;
  margin: 0px;
  align-items:center;
}

div.post a.post-link div.post-title {
  height: calc((100% * ((1/6) + (1/9))) - 5px);
  margin-bottom: 5px;
}

div.post a.post-link div.post-title h4 {
  margin: 0px;
}

div.post a.post-link div.post-body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  transition: height 5s linear
            , visibility 2s ease
  ;
  resize: vertical;
  height: 100%;
}

div.post a.post-link div.post-body p {
  mask-image: linear-gradient(to bottom, var(--col-bg-1-FF) 15%, transparent);
  padding: 2px;
  padding-left: 4px;
  font-size: small;
  height: calc(100% - 4px);
  width: calc(100% - 6px);
  margin: 0px;
  background-color: var(--col-bg-1-FF);
  transition: mask-image 2s linear
  ;
  /* -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: nowrap;
  position: relative;
  content: "";
  -webkit-line-clamp: 4; 
  text-overflow: ellipsis ellipsis; 
  overflow: wrap; */
}

div.post:hover a.post-link div.post-body p {
  /* -webkit-line-clamp: 6; */
  z-index: 70;
}


div.post a.post-link div.post-body-wrap {
  margin-bottom: 5px;
  width: 100%;
  height: calc((100% * (1 - ((1/6) + (1/9) + (1/5)))) - 0px);
  transition: height 1s ease-in-out
            , margin 1s linear
  ;
  background-color: var(--col-bg-1-FF);
}

div.post:hover a.post-link div.post-body-wrap {
  margin-bottom: 0px;
  height: calc((100% * (1 - ((1/6) + (1/8)))) - 0px);
  align-self: flex-start;
}

div.post a.post-link div.post-comments-num p {
  transition: opacity 0.2s ease-in-out
  ;
}

div.post:hover a.post-link div.post-comments-num p {
  opacity: 0;
}

div.post a.post-link div.post-comments-num {
  width: 100%;
  height:100%;
  padding: 0px;
  margin: 0px;
  transition-delay: 0s;
  transition: opacity 0.6s ease-in-out
  ;
}

div.post:hover a.post-link div.post-comments-num {
  opacity: 0;
}

div.post:not(:hover) a.post-link div.post-comments-num {
  transition-delay: 0.6s;
  opacity: 1;
}


div.post a.post-link div.post-comments-wrap {
  width: 100%;
  transition: height 1s ease-in-out
  ;
  height: calc((100% * (1/5)) - 5px);
  background-color: var(--col-bg-1-FF);
  align-self: flex-end;
}

div.post:hover a.post-link div.post-comments-wrap {
  height: 0px;
}

div.post div {
  width: 100%;
  border: 0pt solid var(--col-bg-2-FF);
  background-color: var(--col-bg-2-FF);
}


@keyframes ScaleUpX {
  0% { transform: scaleY(1.0); }
  20% { transform: scaleY(1.2); }
  40% { transform: scaleY(1.4); }
  60% { transform: scaleY(1.6); }
  80% { transform: scaleY(1.8); }
  100% { transform: scaleY(2.0); }
}

@keyframes ScaleDownX {
  0% { transform: scaleY(1.0); }
  20% { transform: scaleY(0.8); }
  40% { transform: scaleY(0.6); }
  60% { transform: scaleY(0.4); }
  80% { transform: scaleY(0.2); }
  100% { transform: scaleY(0.0); }
}

@keyframes GrowV {
  0% { height: 0%; }
  20% { height: calc(20% + 2cm); }
  40% { height: calc(40% + 2cm); }
  60% { height: calc(60% + 2cm); }
  80% { height: calc(80% + 2cm); }
  100% { height: calc(100% + 2cm); }
}

@keyframes ShrinkV {
  0% { height: calc(100% - 2cm); }
  20% { height: calc(80% - 2cm); }
  40% { height: calc(60% - 2cm); }
  60% { height: calc(40% - 2cm); }
  80% { height: calc(20% - 2cm); }
  100% { height:calc( 0% - 2cm); }
}

@keyframes ShrinkV2 {
  0% { height: calc(((100% * (1/5)) - 5px) * 1.0); 
  visibility: visible;}
  20% { height: calc((((100% * (1/5)) - 5px) * 0.8)); }
  40% { height: calc((((100% * (1/5)) - 5px) * 0.6)); }
  60% { height: calc((((100% * (1/5)) - 5px) * 0.4)); }
  80% { height: calc((((100% * (1/5)) - 5px) * 0.2)); }
  100% { height:calc((((100% * (1/5)) - 5px) * 0.0));
  visibility: hidden;
   }
}

@keyframes FadeOut {
  0% { opacity: 1.0; }
  20% { opacity: 0.8; }
  40% { opacity: 0.6; }
  60% { opacity: 0.4; }
  80% { opacity: 0.2; }
  100% { opacity: 0.0; }
}

@keyframes CommentFadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0; }
  60% { opacity: 0.4; }
  80% { opacity: 0.8; }
  100% { opacity: 1; }
}

/* #post-1 {
  animation-name: AniWobble;
}

#post-2 {
  animation-name: AniWobble2;
}

#post-3 {
  animation-name: AniWobble3;
} */

@keyframes AniWobble {
  0%, 100% 
  { transform: translate(0) 
  ; rotate: 0 0 1 0deg;
  }
  20% 
  { transform: 
      translate( var(--var-animwobble-translate)
               , calc(-1 * var(--var-animwobble-translate)))
  ; rotate: 0 0 1 -2deg
  ; 
  }
  40% 
  { transform: translate(var(--var-animwobble-translate), var(--var-animwobble-translate))
  ;
  ; rotate: 0 0 1 4deg;
  }
  60% 
  { transform: translate(var(--var-animwobble-translate), var(--var-animwobble-translate))
  ;
  ; rotate: 0 0 1 3deg;
  }
  80% 
  { transform: translate(var(--var-animwobble-translate), var(--var-animwobble-translate))
  ;
  ; rotate: 0 0 1 -3deg;
  }
}

@keyframes AniWobble2 {
  0%, 100% 
  { transform: translate(0) 
  ; rotate: 0 0 1 0deg;
  }
  20% 
  { transform: 
      translate( var(--var-animwobble-translate)
               , calc(-1 * var(--var-animwobble-translate)))
  ; rotate: 1 0 1 -2deg
  ; 
  }
  40% 
  { transform: translate(var(--var-animwobble-translate), var(--var-animwobble-translate))
  ;
  ; rotate: 1 1 1 4deg;
  }
  60% 
  { transform: translate(var(--var-animwobble-translate), var(--var-animwobble-translate))
  ;
  ; rotate: 0 0 1 3deg;
  }
  80% 
  { transform: translate(var(--var-animwobble-translate), var(--var-animwobble-translate))
  ;
  ; rotate: 0 1 1 -3deg;
  }
}

@keyframes AniWobble3 {
  0%, 100% 
  { transform: translate(0) 
  ; rotate: 0 0 1 0deg;
  }
  20% 
  { transform: 
      translate( var(--var-animwobble-translate)
               , calc(-1 * var(--var-animwobble-translate)))
      rotateX(-1deg)
      rotateY(1.5deg)
  /* ; rotate: 0 0 1 -2deg */
  ; 
  }
  40% 
  { transform: translate(var(--var-animwobble-translate), var(--var-animwobble-translate))
      rotateX(2deg)
      rotateY(-1.5deg)
  ;
  /* ; rotate: 0 0 1 4deg; */
  }
  60% 
  { transform: translate(var(--var-animwobble-translate), var(--var-animwobble-translate))
      rotateX(1.5deg)
      rotateY(-1deg)
  ;
  /* ; rotate: 0 0 1 3deg; */
  }
  80% 
  { transform: translate(var(--var-animwobble-translate), var(--var-animwobble-translate))
      rotateX(-1.5deg)
      rotateY(2deg)
  ;
  /* ; rotate: 0 0 1 -3deg; */
  }
}
